Repository DevOpsOpenHackTeam4/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koxkox, @mortenhbakken, @haiduc77, @ondrej-marinak, @dorin-androne, @knutsvendsen, @Lornis

Create testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update README.md
  apis/poi/README.md
Owners: @koxkox, @mortenhbakken

Update Readme #9
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Create dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update Program.cs
  apis/poi/web/Program.cs
Owners: @koxkox, @mortenhbakken

Create userprazure.yml
  .github/workflows/userprazure.yml
Owners: none

Update README.md
  README.md
Owners: none

Create Trips_go.yml
  Trips_go.yml
Owners: none

Delete Trips_go.yml
  Trips_go.yml
Owners: none

Create Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Create azure.yml
  .github/workflows/azure.yml
Owners: none

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Create user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update Program.cs
  apis/poi/web/Program.cs
Owners: @koxkox, @mortenhbakken

create issue on fail
  .github/workflows/Trips_go.yml
Owners: none

Update main.go
  apis/trips/main.go
Owners: @haiduc77, @ondrej-marinak

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update main.go
  apis/trips/main.go
Owners: @haiduc77, @ondrej-marinak

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update main.go
  apis/trips/main.go
Owners: @haiduc77, @ondrej-marinak

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update main.go
  apis/trips/main.go
Owners: @haiduc77, @ondrej-marinak

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# POI API owners.
/apis/poi/ @koxkox @mortenhbakken

# Trips API owners.
/apis/trips/ @haiduc77 @ondrej-marinak

# UserJava API owners.
/apis/user-java/ @dorin-androne @knutsvendsen

# UserProfile API owners.
/apis/userprofile/ @knutsvendsen @Lornis
