Repository DevOpsOpenHackTeam4/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koxkox, @mortenhbakken, @haiduc77, @ondrej-marinak, @dorin-androne, @knutsvendsen, @Lornis

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Create autoassignissues.yml
  .github/workflows/autoassignissues.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update autoassignissues.yml
  .github/workflows/autoassignissues.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

try issue bug ...
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update main.go
  apis/trips/main.go
Owners: @haiduc77, @ondrej-marinak

fix main bug
  apis/trips/main.go
Owners: @haiduc77, @ondrej-marinak

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @haiduc77, @ondrej-marinak

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @haiduc77, @ondrej-marinak

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Trigger a new build for user-java api
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Rename dotnet-core.yml to poi-dotnet-core.yml
  .github/workflows/poi-dotnet-core.yml
Owners: none

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Trigger build for tests
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update poi-dotnet-core.yml
  .github/workflows/poi-dotnet-core.yml
Owners: none

Create this_is_test_file.txt
  apis/poi/web/this_is_test_file.txt
Owners: @koxkox, @mortenhbakken

Update poi-dotnet-core.yml
  .github/workflows/poi-dotnet-core.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @koxkox, @mortenhbakken

Create Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# POI API owners.
/apis/poi/ @koxkox @mortenhbakken

# Trips API owners.
/apis/trips/ @haiduc77 @ondrej-marinak

# UserJava API owners.
/apis/user-java/ @dorin-androne @knutsvendsen

# UserProfile API owners.
/apis/userprofile/ @knutsvendsen @Lornis
