Repository DevOpsOpenHackTeam4/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koxkox, @mortenhbakken, @haiduc77, @ondrej-marinak, @dorin-androne, @knutsvendsen, @Lornis

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update Docker_push_main.yml
  .github/workflows/Docker_push_main.yml
Owners: none

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update HealthcheckApi.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApi.java
Owners: @dorin-androne, @knutsvendsen

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update HealthcheckApi.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApi.java
Owners: @dorin-androne, @knutsvendsen

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Create user-profile.yml
  .github/workflows/user-profile.yml
Owners: none

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update user-java-core.yml
  .github/workflows/user-java-core.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Added deployment job
  .github/workflows/poi-dotnet-core.yml
Owners: none

Update Trips_go.yml
  .github/workflows/Trips_go.yml
Owners: none

Update testcommit.txt
  apis/trips/testcommit.txt
Owners: @haiduc77, @ondrej-marinak

Update README.md
  apis/poi/README.md
Owners: @koxkox, @mortenhbakken

Update README.md
  apis/poi/README.md
Owners: @koxkox, @mortenhbakken

Update azure.yml
  .github/workflows/azure.yml
Owners: none

Trigger a job for userprofile
  apis/userprofile/README.md
Owners: @knutsvendsen, @Lornis

Corrected image name
  .github/workflows/poi-dotnet-core.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @koxkox, @mortenhbakken

Update azure.yml
  .github/workflows/azure.yml
Owners: none

Update README.md
  apis/userprofile/README.md
Owners: @knutsvendsen, @Lornis

Update azure.yml
  .github/workflows/azure.yml
Owners: none

Update README.md
  apis/userprofile/README.md
Owners: @knutsvendsen, @Lornis

Update azure.yml
  .github/workflows/azure.yml
Owners: none

Update README.md
  apis/userprofile/README.md
Owners: @knutsvendsen, @Lornis

Update poi-dotnet-core.yml
  .github/workflows/poi-dotnet-core.yml
Owners: none

a
  .github/workflows/azure.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @koxkox, @mortenhbakken

Update README.md
  apis/userprofile/README.md
Owners: @knutsvendsen, @Lornis

Update README.md
  apis/user-java/README.md
Owners: @dorin-androne, @knutsvendsen

Update healthCheckService.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @haiduc77, @ondrej-marinak

Update README.md
  apis/poi/README.md
Owners: @koxkox, @mortenhbakken

Update queries.js
  apis/userprofile/data/queries.js
Owners: @knutsvendsen, @Lornis

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# POI API owners.
/apis/poi/ @koxkox @mortenhbakken

# Trips API owners.
/apis/trips/ @haiduc77 @ondrej-marinak

# UserJava API owners.
/apis/user-java/ @dorin-androne @knutsvendsen

# UserProfile API owners.
/apis/userprofile/ @knutsvendsen @Lornis
